{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="security register" >
        <div class="security__wrapper" >
            <h1>Join us</h1>
            <p>Fill in your details to create a new account.</p>
            {% include 'security/google_auth.html.twig' %}
            {% include 'security/register/register.html.twig' %}
            <p class="security__bottomLink"> 
                Already have an account? <a href='{{path("app_login")}}'> Sign in </a> 
            </p>
        </div>
    </div>
{% endblock %}
