<div class="modal fade" id="editHabitModal" tabindex="-1" aria-labelledby="editHabitModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Edit Habit</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeEditHabitModal"></button>
      </div>
      <div class="modal-body">  
      </div>
    </div>
  </div>
</div>