.reset-password {
  @include flex(row, center, center, 10px);
  height: 60vh;
}
.reset-password__wrapper {
  color: $text-helper;
  width: 100%;

  a {
    @extend %action-link-styles;
    text-decoration: udnderline;
  }

  h1 {
    @extend %h1-style;
  }

  small {
    @extend %text-muted;
    padding: 20px 0;
  }
}
.reset-password__submit {
  @extend %button-dark-styles;
  margin-top: 20px;
}
