.security {
  @include flex(row, center, center);
  padding: 50px 20px;
  min-height: 60vh;
}

.security__wrapper {
  @include flex(column, center, stretch);
  @extend %card-style;
  max-width: 500px;
  width: 100%;
  padding: 24px;
}

.security__wrapper h1 {
  @extend %h1-style;
  text-align: center;
}

.security__wrapper h1 + p {
  @include responsive-font-size($font-size-16, $font-size-14);
  text-align: center;
  color: $text-helper;
}

.securityForm__input {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-color: $border-input !important;
  &:focus {
    border-color: $border-input-focus !important;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
  }
}

input.securityForm__input + label {
  color: #bfc3ca !important;
}

.securityForm__submit {
  @extend %button-dark-styles;
  width: 100%;
}

.security__bottomLink {
  @extend %text-muted;
  text-align: center;
  padding-top: 20px;
}

.security__bottomLink a {
  @extend %action-link-styles;
}

.security__forgot-password {
  @extend %action-link-styles;
  @include responsive-font-size($font-size-14, $font-size-14);
  color: $text-primary-dark !important;
  font-weight: 500;
  display: block;
  width: 100%;
  text-align: right;
  padding-bottom: 20px;
}
