$accent-dark: #111827;
$accent-dark-hover: #1e2b4a;
$accent-light: #4e6db9;

$bg-gray: #f9fafd;
$bg-darker-gray: #f2f4f6;
$bg-white: #ffffff;
$bg-dark: #111827;

$text-primary-dark: #111827;
$text-primary-light: #d1d5db;
$text-secondary-dark: #374151;
$text-secondary-light: #9ca3af;
$text-helper: #6b7280;
$text-white: #ffffff;

$border-input: #d1d5db;
$border-input-focus: #6b7280;
$border-card: #e5e7eb;
