.modal-content {
  padding: 20px;

  .modal-header {
    @include flex(row, space-between, center, 10px);
    border: none;
  }

  h2 {
    @include responsive-font-size($font-size-24, $font-size-20);
    padding: 0 !important;
    padding-bottom: 20px;
    font-weight: 700;
  }
}
