.reset-password {
  @include flex(row, center, center, 10px);
  height: 60vh;
}
.reset-password__wrapper {
  color: $text-helper;
  width: 100%;
}
.reset-password__wrapper a {
  @extend %action-link-styles;
  text-decoration: udnderline;
}

.reset-password__wrapper h1 {
  @include responsive-font-size($font-size-32, $font-size-24);
  color: $text-primary-dark;
  font-weight: 600;
  padding-bottom: 20px;
}

.reset-password__wrapper small {
  @extend %text-muted;
  padding: 20px 0;
}
.reset-password__submit {
  @extend %button-dark-styles;
  margin-top: 20px;
}
