@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

@import "colors";
@import "fonts";
@import "common-styles";

@import "security/google-auth";
@import "security/reset-password";
@import "security/singIn-signUp";

@import "layout/footer";
@import "layout/header";

@import "dashboard/hashboard-header";

body main {
  font-family: "Inter" sans-serif !important;
  background-color: $bg-gray !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__wrapper {
  max-width: 1320px;
  width: 100%;
  min-height: 60vh !important;
  padding: 15px;
}
