@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "colors";
@import "fonts";
@import "layout";
@import "common-styles";
@import "header";
@import "footer";
@import "security";
@import "reset-password";

body main {
  font-family: "Inter" sans-serif !important;
  background-color: $bg-gray !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__wrapper {
  max-width: 1320px;
  width: 100%;
  min-height: 60vh !important;
  padding: 15px;
}
i.bi {
  font-family: "Bootstrap Icons" !important;
}
