<div class="dashboard-today">
    {% set hasHabits = false %}
     {% set categories = {
        'morning': {
            'icon': 'bi bi-sun',
            'title': 'Morning'
        },
        'afternoon': {
            'icon': 'bi bi bi-cloud-sun',
            'title': 'Afternoon'
        },
        'evening': {
            'icon': 'bi bi-moon',
            'title': 'Evening'
        },
        'night': {
            'icon': 'bi bi-moon-stars',
            'title': 'Night'
        },
        'unscheduled': {
            'icon': 'bi bi-clock',
            'title': 'Unscheduled'
        }
    } %}
    
    {% for category, config in categories %}
        {% if todayHabits[category]|length > 0 %}
            {% set hasHabits = true %}
            <div class="dashboard-today__{{ category }} dashboard-today__category">
                <h2><i class="{{ config.icon }}"></i> {{ config.title }}</h2>
                {% for habit in todayHabits[category] %}
                    {% include "dashboard/_dashboard-today-habit.html.twig" with {'habit': habit} %}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}

    {% if not hasHabits %}
        <div class="dashboard-today__empty">
            <div class="dashboard-today__empty-content">
                <i class="bi bi-journal-check dashboard-today__empty-icon"></i>
                <h3>No habits scheduled for today</h3>
                <p>Click the "New Habit" button to start building your routine</p>
            </div>
        </div>
    {% endif %}
</div>
