

<div class="dashboard-today">
    <h1> Today </h1>
    <div class="dashboard-today__morning dashboard-today__category">
        <h2><i class="bi bi-sun"></i>  Morning </h2>

    </div>
    <div class="dashboard-today__afternoon dashboard-today__category">
        <h2><i class="bi bi-brightness-alt-high"></i>  Afternoon </h2>
    </div>
    <div class="dashboard-today__evening dashboard-today__category">
     <h2><i class="bi bi-moon"></i>  Evening </h2>
    </div>
     <div class="dashboard-today__unsheduled dashboard-today__category">
      <h2><i class="bi bi-clock"></i>  Unsheduled </h2>
    </div>
</div>
