<div class="dashboard-header">
    <div class="dashboard-header__right-section">
        <h1> My Habits </h1>
        <div id="dashboard-header__data">
            <span id="dashboard-header__date" > {{"now"| date("l, F j")}} </span>
            <span id="dashboard-header__city">Loading...</span>
            <span id="dashboard-header__weather"></span>
        </div>
    </div>
    <button type="button" data-bs-toggle="modal" data-bs-target="#createHabitModal">
        <i class="fa-regular fa-plus"></i>
        New Habit
    </button>
</div>