<div class="dashboard-stats">

    <div class="dashboard-stats__block"> 
        <div class="dashboard-stats__block--icon">
            <i class="fa-regular fa-circle-check"></i>
        </div>
        <div>
            <p class="dashboard-stats__block--title"> Active Habits </p>
            <p class="dashboard-stats__block--value">12 </p>
        </div>
    </div>
    <div class="dashboard-stats__block"> 
        <div class="dashboard-stats__block--icon">
           <i class="fa-regular fa-star"></i>
        </div>
        <div>
            <p class="dashboard-stats__block--title"> Longest Streak </p>
            <p class="dashboard-stats__block--value"> 28 days</p>
        </div>
    </div>
    <div class="dashboard-stats__block"> 
        <div class="dashboard-stats__block--icon">
            <i class="fa-regular fa-calendar"></i>
        </div>
        <div>
            <p class="dashboard-stats__block--title"> Today's Progress </p>
            <p class="dashboard-stats__block--value"> 5/8 </p>
        </div>
    </div>
    <div class="dashboard-stats__block"> 
        <div class="dashboard-stats__block--icon">
            <i class="fa-solid fa-list-check"></i>
        </div>
        <div>
            <p class="dashboard-stats__block--title"> Completion Rate </p>
            <p class="dashboard-stats__block--value"> 87% </p>
        </div>
    </div>
</div>