<div class="dashboard-header">
    <div class="dashboard-header__right-section">
        <h1> My Habits </h1>
        <div>
            <span> {{"now"| date("l, F j")}} </span>
            <span id="dashboard-header__city"> </span>
            <span id="dashboard-header__temp"> </span>
            <span id="dashboard-header__icon"> </span>
            <span id="dashboard-header__desc"> </span>
        </div>
    </div>
    <button type="button" data-bs-toggle="modal" data-bs-target="#createHabitModal">
        <i class="fa-regular fa-plus"></i>
        New Habit
    </button>
</div>