<div class="dashboard-today">
    
    {% set categories = {
        'morning': {
            'icon': 'bi-sun',
            'title': 'Morning'
        },
        'afternoon': {
            'icon': 'bi-brightness-alt-high',
            'title': 'Afternoon'
        },
        'evening': {
            'icon': 'bi-moon',
            'title': 'Evening'
        },
        'night': {
            'icon': 'bi-moon-stars',
            'title': 'Night'
        },
        'unscheduled': {
            'icon': 'bi-clock',
            'title': 'Unscheduled'
        }
    } %}

    {% for category, config in categories %}
        {% if todayHabits[category]|length > 0 %}
            <div class="dashboard-today__{{ category }} dashboard-today__category">
                <h2><i class="bi {{ config.icon }}"></i> {{ config.title }}</h2>
                {% for habit in todayHabits[category] %}
                    {% include "dashboard/_dashboard-today-habit.html.twig" with {'habit': habit} %}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
</div>