<div class="dashboard-header">
    <div class="dashboard-header__right-section">
        <h1> My Habits </h1>
        <p> {{"now"| date("l, F j")}} </p>
    </div>
    <button type="button" data-bs-toggle="modal" data-bs-target="#createHabitModal">
        <i class="fa-regular fa-plus"></i>
        New Habit
    </button>
</div>