{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}

<div class="dashboard">
    {% include "dashboard/modals/_create-habit-modal.html.twig" with {'createHabitForm': createHabitForm}%}
    {% include "dashboard/modals/_edit-habit-modal.html.twig" %}
    {% include "dashboard/modals/_delete-habit-modal.html.twig" %}
    {% include "dashboard/_dashboard-header.html.twig" %}
    {% include "dashboard/_dashboard_stats.html.twig"  with {  
            'totalHabits': totalHabits,
            'totalTodayHabits' : totalTodayHabits,
            'longestStreak' : longestStreak,
            'completedHabits' : completedHabits} %}
    <div id="dashboard-today-wrapper">
    {% include "dashboard/_dashboard-today-habits.html.twig" with {'todayHabits' : todayHabits} %}
    </div>
    {% include "dashboard/_dashboard-all-habits.html.twig" with {'habits': habits} %}
</div>
{% endblock %}

