<footer class="footer">
  <div class="footer__content">
    <p class="footer__copyright">© {{ "now"|date("Y") }} Habito</p>
    <ul class="footer__links">
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Terms</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</footer>